<footer class="footer mt-auto py-3 bg-light">
  <div class="container text-center">
    <span class="footer-text"
      >&copy; <%= new Date().getFullYear() %> Smart Pantry. All rights
      reserved.</span
    >
  </div>
</footer>
