<nav class="navbar navbar-expand-md sticky-top">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="/dashboard">
      Smart Pantry
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <i class="fa-solid fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard/inventory">Inventory</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard/recipes">Recipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard/recipesearch">Search Recipe </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Get the current page from the URL
    const currentPath = window.location.pathname;

    // Select all nav links
    const navLinks = document.querySelectorAll(".nav-link");

    navLinks.forEach((link) => {
      // Remove any existing active classes
      link.classList.remove("active");

      // Check if the link's href matches the current path
      if (currentPath === link.getAttribute("href")) {
        link.classList.add("active");
      }
    });
  });
</script>
